@page "/Weather"
@rendermode InteractiveServer

<UseGetWeatherReadings Context="result">
    <ChildContent>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Temp. (C)</th>                    
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var forecast in result.WeatherReadings!.Items!)
                {
                    <tr>
                        <td>@forecast.Id</td>
                        <td>@forecast.Date</td>
                        <td>@forecast.TemperatureC</td>                        
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br />
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetWeatherReadings>